@import "tailwindcss";

#root {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.app-card{
    padding: 30px;
    text-align: left;
    border-radius: 30px;
    background-color: white;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.app-card:hover{
    transform: translatey(-5px);
}
.app-card:active{
    transform: scale(0.9);
}



/* TODO APP'S STATSCARDS */
.stat-card{
    transition: 0.3s ease;
}
.stat-card:hover{
    transform: scale(1.03);
}


.filter-btn {
    display: flex;
    position: relative;
    padding-right: 20px;    
}

.filter-btn:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 60%; /* adjust height as needed */
    background-color: rgb(172, 172, 172);
}
