@import "tailwindcss";

#root {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.app-card{
    padding: 30px;
    text-align: left;
    border-radius: 30px;
    background-color: white;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.app-card:hover{
    transform: translatey(-5px);
}
.app-card:active{
    transform: scale(0.9);
}



/* TODO APP'S STATSCARDS */
.stat-card{
    transition: 0.3s ease;
}
.stat-card:hover{
    transform: scale(1.03);
}